<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='flex-container'>
      <h1>MUSIC APPPPPPPPP!!!!!!!!!</h1>
      <% if logged_in? %>
        <p>Hello, <%= current_user.email %>!!!!</p>
        <br>
        <form action="<%= sessions_url %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <%= auth_token %>
          <button type="submit">Log Out :(</button>
        </form>
        </form>
      <% else %>
        <form  action="<%= new_sessions_url %>" method="get">
          <%= auth_token %>
          <button type="submit">SIGN IN!!!</button>
        </form>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
